---
---

<div
  class="text-muted text-sm bg-[#dbeafe] dark:text-slate-800 block px-3 py-2 relative text-ellipsis text-left"
>
  <p><b>Affiliate Disclosure:</b> The links contianed in the above article, as well as elsewhere throughout this website, may be affiliate or referral links. This simply means I get a small commission if you use my link to purchase something. Note that this does not increase your cost and it does not mean I am at all affiliated or sponsored by the associated company the links are directed towards. I am simply a memeber of the associated affilaite program. Using the links does support me and my efforts to bring this educational content to the screen print communtiy, so if you are purchasing from my links, know that I greatly appreciate your support.</p>
</div>
