---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <a href="https://startupscreenprinting.com/business-course-beta" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >The Startup Screen Printing Business Course is launching soon. Join before registration closes »</a>
  </div>
</section>
