---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Me"
    image={{
      src: '~/assets/images/JessePoteet.jpg',
      alt: 'Jesse Poteet',
    }}
  >
    <Fragment slot="title">
      My passion is your<span class="text-accent highlight"> success.</span>
    </Fragment>

    <Fragment slot="subtitle">
      For the past 7 years, I've run my own print shop. For the past 25 years I've developed a passion for small business. I share my experiences simply to convince you that success is possible for you. Own a thriving, profitable screen print business can be your story.
    </Fragment>
  </Hero>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book a Discovery Call',
        href: 'https://savvycal.com/jessepoteet/ssp-intro',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      Take ownership of your business
    </Fragment>

    <Fragment slot="subtitle">
      Don't wait for issues to come up before you take ownership of your business. Avoid problems and focus on growing. Book a call today to discuss how your business can take a step towards the next level.
    </Fragment>
  </CallToAction>

  <!-- Stats Widget ****************** -->

  <Stats
    title="I've spent years learning"
    stats={[
      { title: 'Print Experience', amount: '10+ yrs' },
      { title: 'Design Experience', amount: '25+ yrs' },
      { title: 'Business Experience', amount: '15+ yrs' },
      { title: 'Marketing Experience', amount: '20+ yrs' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="So I can share with you"
    subtitle="I've spent time in a lot of unique business types and I've learned the ins and outs for a lot of different industries. Now I'm bringing that knowledge to the screen print world."
    columns={3}
    isBeforeContent={true}
  />

  

  <Steps2
    title="My core values"
    subtitle="We all have a set of core values that drive our decision making and how we view the world. These are the foundation for everything I do in my business."
    items={[
      {
        title: 'Skill can be taught, passion can not',
        description:
          'I can&apos;t make you passionate about your business, but I can equip you with the knowledge and confidence to become successful. It is up to you to decide what you do from there.',
      },
      {
        title: 'Success is possible',
        description:
          'How you define success is up to you, and there is no wrong definition. Beleiving that success is possible for you is the hardest part. I&apos;m here to tell you that if you will combine hard work with knowledge, then success is possible for you.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="It comes down to this"
    subtitle="There are two things I&apos;ve come to know about business."
    isReversed={true}
    items={[
      {
        title: 'Experience is king',
        description:
          'And quality is Queen. At the end of the day what matters most to me is the experience I&apos;m providing for my clients. If you think you are selling a product, you will struggle to find enough customers and low pricing will destroy your business. Sell your customers the experience, the end result they truly want.',
      },
      {
        title: 'Always be improving',
        description:
          'It has been said that if you are not improving then you are getting worse. At the speed at which business changes these days, this could not be more true. Forget "the way it has always been done." You should approach every process or strategy with the mindset that it can, and should, be improved.',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book a Discovery Call',
        href: 'https://savvycal.com/jessepoteet/ssp-intro',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      Take ownership of your business
    </Fragment>

    <Fragment slot="subtitle">
      Don't wait for issues to come up before you take ownership of your business. Avoid problems and focus on growing. Book a call today to discuss how your business can take a step towards the next level.
    </Fragment>
  </CallToAction>
