---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Startup Screen Printing - Build a profitable screen print business from scratch',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book a discovery call',
        href: 'https://savvycal.com/jessepoteet/ssp-intro',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      You can build a 
      <span class="text-accent highlight underline underline-offset-8">profitable</span> screen print business from home
    </Fragment>

    <Fragment slot="subtitle">
      I am on a mission to help 1000 people launch profitable screen print businesses in 2024. Let's talk about how I can guide you in your business.
    </Fragment>

    <!-- <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/dsTXcSeAZq8"
          title="Build a Profitable Screen Print Business"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment> -->
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Build a Profitable Business"
    title="Don't get stuck as a paycheck-to-paycheck business owner"
    subtitle="Nail down a strategy that creates more profit through efficient systems and strategies. Work smarter, not harder."
    items={[
      {
        title: "Understand Your Customer's Desire",
        description:
          "Often times what you're selling isn't actually what your customer wants. Understand the why behind their purchase and help them get there with your products.",
        icon: 'tabler:components',
      },
      {
        title: 'Use Systems for Everything',
        description:
          'Efficiencies can be a make or break for even the most talented printers. If you are wasting time, you are losing money.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Unreasonable Customer Service',
        description:
          'Serve your customer to a point where they look for reasons to pay you more. Show them the product is not what they are paying for, it is the experience of doing business with you. Make that invaluable.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Pricing for Profit',
        description:
          "A business exists to make a profit. Stop competing on price and start competing on value. Your prices are not too high, the value you are providing is too low.",
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book a Discovery Call',
        href: 'https://savvycal.com/jessepoteet/ssp-intro',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      Take ownership of your business
    </Fragment>

    <Fragment slot="subtitle">
      Don't wait for issues to come up before you take ownership of your business. Avoid problems and focus on growing. Book a call today to discuss how your business can take a step towards the next level.
    </Fragment>
  </CallToAction>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="More business and screen printing articles"
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Download Now',
        href: 'https://ssp.ink/reg-template',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      Download the FREE Pre-Registration Template
    </Fragment>

    <Fragment slot="subtitle">
      Get your registration started before you make the screen. Download the free pre-registration press and align your films during screen making and cut your time needed to register on press in half.
    </Fragment>
  </CallToAction>
</Layout>
